<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/" method="POST">
    <div>
        <label for="character">Character: </label>
        <input type="text" name="character">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
